# Default ignored files
/shelf/
__pycache__/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
*.xml
*.csv
*.iml
*.data
*.names
*.test
*.zip
*.joblib